* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body {
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://images4.alphacoders.com/101/1011715.jpg);
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 30px 0 25px;
}

#data,
#btn {
    margin: 10px;
    cursor: pointer;
}

#btn {
    padding: 8px 30px;
    font-weight: bold;

}

#btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#data {
    padding: 10px;
}

.img {
    display: flex;
    justify-content: center;
    height: 150px;
}

p,
h3,
h2 {
    font-size: 1.2em;
    padding: 10px;
    width: 700px;
}

#borda {
    border: 4px inset #b7b9a5;
    width: 730px;
    height: 542px
}

#media {
    padding: 20px;
}


@media (max-width:425px) {
    #media {
        max-width: 400px;
    }

    p,h3,h2 {
        max-width: 350px;
    }

    #borda {
        width: 350px;
        height: 290px;
    }
}

@media (max-width:480px) {
    #media {
        max-width: 400px;
    }

    p,
    h3,
    h2 {
        width: 350px;
    }

    #borda {
        width: 350px;
        height: 290px;
    }
}

@media (max-width:768px) {
    #media {
        max-width: 800px;
    }

    p,
    h3,
    h2 {
        width: 600px;
    }

    #borda {
        width: 350px;
        height: 290px;
    }
}